body {
  font: normal 13px/20px Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  color: #eee;
  background: #353535;
  font-size: x-large;
}

.countdown-value {
  width: 92px;
  max-width: 92px;
  font: bold 48px "Droid Sans", Arial, sans-serif;
  text-align: center;
  color: #111;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(top, #bbb, #eee);
  background-image: -moz-linear-gradient(top, #bbb, #eee);
  background-image: -ms-linear-gradient(top, #bbb, #eee);
  background-image: -o-linear-gradient(top, #bbb, #eee);
  border-top: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
  padding: 18px 0;
  display: inline-block;
  position: relative;
}

.countdown-value:before {
  content: "";
  width: 100%;
  height: 13px;
  background: #111;
  display: block;
  padding: 0 3px;
  position: absolute;
  top: 41%;
  left: -3px;
  z-index: -1;
}

.countdown-value:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #eee;
  border-top: 1px solid #333;
  display: block;
  position: absolute;
  top: 48%;
  left: 0;
}

#start-workout {
  /* text-transform: uppercase;
  font-size: x-large;
  padding: 6px;
  margin: 0; */
}

.text-center {
  text-align: center;
}

.pt5 {
  padding-top: 5rem;
}
.pb5 {
  padding-bottom: 5rem;
}
.pt4 {
  padding-top: 4rem;
}
.pb4 {
  padding-bottom: 4rem;
}
.pt3 {
  padding-top: 3rem;
}
.pb3 {
  padding-bottom: 3rem;
}
.pt2 {
  padding-top: 2rem;
}
.pb2 {
  padding-bottom: 2rem;
}
