body {
  font: normal 13px/20px Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  color: #eee;
  background: #353535;
  font-size: x-large;
}

html,
body {
  height: 100%;
  margin: 0;
}

button {
  margin: 0;
}

header {
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.content {
  min-height: 100%;
}
.container {
  padding-bottom: 3rem;
}
.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 34px;
}
.countdown-value {
  width: 92px;
  max-width: 92px;
  font: bold 48px "Droid Sans", Arial, sans-serif;
  text-align: center;
  color: #111;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(top, #bbb, #eee);
  background-image: -moz-linear-gradient(top, #bbb, #eee);
  background-image: -ms-linear-gradient(top, #bbb, #eee);
  background-image: -o-linear-gradient(top, #bbb, #eee);
  border-top: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
  padding: 18px 0;
  display: inline-block;
  position: relative;
}

.countdown-value:before {
  content: "";
  width: 100%;
  height: 13px;
  background: #111;
  display: block;
  padding: 0 3px;
  position: absolute;
  top: 41%;
  left: -3px;
  z-index: -1;
}
.countdown-value:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #eee;
  border-top: 1px solid #333;
  display: block;
  position: absolute;
  top: 48%;
  left: 0;
}

@media (min-width: 320px) {
  .station-name {
    max-width: 300px;
  }
}
@media (min-width: 480px) {
  .station-name {
    max-width: 460px;
  }
}

.station-name {
  height: 80px;
  padding: 0;
  margin: 0;
}

.bg-orange {
  background-color: orange;
}
.bg-white {
  background-color: #fff;
}
.bg-grey {
  background-color: grey;
}
.white {
  color: #fff;
}
.black {
  color: #000;
}
.text-center {
  text-align: center;
}
.greasy-bold {
  font-weight: 800;
}
.pt5 {
  padding-top: 5rem;
}
.pb5 {
  padding-bottom: 5rem;
}
.pt2 {
  padding-top: 2rem;
}
.pt1 {
  padding-top: 1rem;
}
.pb1 {
  padding-bottom: 1rem;
}
.p0 {
  padding: 0;
}
.m0 {
  margin: 0;
}
.b0 {
  border: none;
}
.mb1 {
  margin-bottom: 1rem;
}
.mt1 {
  margin-top: 1rem;
}
.mt2 {
  margin-top: 2rem;
}
.mb2 {
  margin-bottom: 2rem;
}
.fs10 {
  font-size: 10px;
}
.fs18 {
  font-size: 18px;
}
.fs22 {
  font-size: 22px;
}
.fs2 {
  font-size: 2rem;
}
.hide {
  display: none;
}
.trim-text {
  display: inline-block;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}
.jPopup {
  color: #000;
  background: #fff;
}

.border-orange {
  border: 1px dotted orange;
}

.jPopup.jPopup--slideInFromBottom {
  overflow: scroll;
}

.jPopup-content {
  transform: initial;
  top: 15%;
}
#station-list-btn,
#series-progress-btn {
  border: 1px dotted black;
  cursor: pointer;
}
.station-list .station-name {
  border-bottom: 1px solid #000;
}
.next-station-item {
  border: 1px solid orange;
  margin-bottom: 4px;
}
